<div class="flex h-full">
    <!--Menu-->
    <ul class="list-none p-0 m-0 w-3">
        <!--logo-->
        <li>
            <a class="flex flex-column justify-content-center align-items-center p-3">
                <img class="w-4rem mb-3" src="/assets/icon-all-nite.svg" >
                <span class="text-primary font-bold	text-xl">All Nite</span>
            </a>
        </li>

        <p-divider />

        <li>
            <a class="flex flex-column justify-content-center align-items-center cursor-pointer p-3 border-round hover:surface-100 active:surface-200 transition-duration-150 transition-colors">
                <i class="pi pi-search text-4xl mb-2"></i>
                <span class="text-primary font-bold text-sm">Search</span>
            </a>
        </li>
        <li>
            <a class="flex flex-column justify-content-center align-items-center cursor-pointer p-3 border-round hover:surface-100 active:surface-200 transition-duration-150 transition-colors">
                <i class="pi pi-map text-4xl mb-2"></i>
                <span class="text-primary font-bold text-sm">Map</span>
            </a>
        </li>
        <li>
            <a class="flex flex-column justify-content-center align-items-center cursor-pointer p-3 border-round hover:surface-100 active:surface-200 transition-duration-150 transition-colors">
                <i class="pi pi-plus text-4xl mb-2"></i>
                <span class="text-primary font-bold text-sm">Add</span>
            </a>
        </li>
    </ul>

    <p-divider layout="vertical" />
</div>
