<div id="map" class="w-12 h-full">
    <aol-map [ngClass]="{'cursor-pointer': mapService.isMapClickable }" (olClick)="setCoordinates($event.coordinate)">
        <aol-view [zoom]="18">
            <aol-coordinate [x]="mapService.curlocation.cordinateX" [y]="mapService.curlocation.cordinateY" 
                [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-view>

        <!--Map-->
        <aol-layer-tile>
            <aol-source-osm></aol-source-osm>
        </aol-layer-tile>
        
        <!--Interaction Buttons-->
        <aol-interaction-default></aol-interaction-default>
        <aol-control-scaleline></aol-control-scaleline>
        <aol-control-zoomslider></aol-control-zoomslider>
        <aol-control-zoom></aol-control-zoom>

        <!--Location Marker-->
       <aol-layer-vector *ngIf="mapService.isEventLocationSet">
            <aol-source-vector>
                <aol-feature>
                    <aol-geometry-point>
                        <aol-coordinate [x]="mapService.makerLocation.cordinateX" [y]="mapService.makerLocation.cordinateY" 
                            [srid]="'EPSG:4326'"></aol-coordinate>
                    </aol-geometry-point>
                    <aol-style>
                        <aol-style-icon 
                            [src]="'/assets/map-marker.svg'" 
                            [scale]="0.2">
                        </aol-style-icon>
                    </aol-style>
                </aol-feature>
            </aol-source-vector>
        </aol-layer-vector> 
    </aol-map>
</div>