<div id="map" class="w-12 h-full">
    <aol-map (click)="onMapClick($event)">
        <aol-interaction-default></aol-interaction-default>

        <aol-view [zoom]="18">
            <aol-coordinate [x]="mapService.cordinateX" [y]="mapService.cordinateY" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-view>

        <aol-layer-tile>
            <aol-source-osm></aol-source-osm>
        </aol-layer-tile>

        <!-- <aol-overlay [position]="[marker.longitude, marker.latitude]">
            <aol-marker>
                <img src="https://openlayers.org/en/v4.6.5/examples/data/icon.png" />
            </aol-marker>
        </aol-overlay> -->
    </aol-map>
</div>