<div class="flex flex-column p-3 h-full">
    <!--Search field-->
    <div class="field my-3 mx-2">
        <label for="search">Search for an event...</label>
        <input id="search" pInputText
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round 
            appearance-none outline-none focus:border-primary w-full"
        [(ngModel)]="eventName" (ngModelChange)="filter()">
    </div>

    <!--Events list-->
    <p-scrollPanel class="w-12 h-full" [style]="{height: 'calc(100vh - 150px)'}" styleClass="custombar1">
        <div *ngFor="let event of filteredEvents;">
            <div class="my-3 mx-2">
                <p-card [header]="event.name" (click)="seeEventLocation(event)"
                    styleClass="cursor-pointer event-card hover:surface-100 active:surface-300">
                    <div class="flex justify-content-between m-0 ">
                        <p class="text-sm font-medium">{{ event.location.name }}</p>
                        <p class="text-sm">{{ event.date.toLocaleDateString() }}</p>
                    </div>
                </p-card>
            </div>
        </div>
    </p-scrollPanel>
</div>