<div class="flex flex-column p-3 h-full">
    <!--Search field-->
    <div class="field my-3 mx-2">
        <label for="search">Search for an event...</label>
        <input id="search" pInputText
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round 
            appearance-none outline-none focus:border-primary w-full"
        [(ngModel)]="eventNameQuery" (ngModelChange)="filter()">
    </div>

    <!--Events list-->
    <p-scrollPanel class="w-12 h-full" [style]="{height: 'calc(100vh - 150px)'}" styleClass="custombar1">
        <div *ngFor="let event of filteredEvents;">
            <div class="my-3 mx-2">
                <p-card (click)="seeEventLocation(event)" 
                    styleClass="cursor-pointer event-card hover:surface-100 active:surface-300">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center px-3 pt-1">
                            <p class="text-lg font-bold">{{ event.name }}</p>
                            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="deleteEvent(event.id)" 
                                pTooltip="Delete"/>
                        </div>
                    </ng-template>
                    
                    <div class="flex justify-content-between align-items-center m-0">
                        <p class="text-sm font-medium">{{ event.location.name }}</p>
                        <p class="text-sm">{{ event.date.toLocaleDateString() }}</p>
                    </div>
                </p-card>
            </div>
        </div>
    </p-scrollPanel>
</div>