@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    overflow: hidden;
}

.event-card {
    .p-card:hover {
        background-color: var(--surface-100);
    }

    .p-card-title {
        font-size: 1rem;
    }

    .p-card-content {
        padding: 0;
    }
}