<div class="flex flex-column p-3 h-full">
    <form [formGroup]="formGroup" class="my-3 mx-2">
        <!--Event Name-->
        <div class="field">
            <label for="eventName">Event Name</label>
            <input id="eventName" formControlName="eventName" pInputText 
                class="text-base text-color surface-overlay p-2 border-1 border-solid 
                border-round appearance-none outline-none focus:border-primary w-full"/>
                <small *ngIf="isControlInvalid('eventName')" class="text-red-700">
                    {{ getErrorMessage('eventName') }}
                </small>
        </div>
        
        <!--Date-->
        <div class="field">
            <label for="date" class="w-full">Date</label>
            <p-calendar formControlName="date" [showButtonBar]="true" dateFormat="dd/mm/yy" 
                styleClass="w-full"
                inputStyleClass="text-base text-color surface-overlay p-2 border-1 border-solid 
                border-round appearance-none outline-none focus:border-primary w-full" />
                <small *ngIf="isControlInvalid('date')" class="text-red-700">
                    {{ getErrorMessage('date') }}
                </small>
        </div>
        
        <!--Location Name-->
        <div class="field">
            <label for="locationName">Location Name</label>
            <input id="locationName" formControlName="locationName" pInputText 
                class="text-base text-color surface-overlay p-2 border-1 border-solid 
                border-round appearance-none outline-none focus:border-primary w-full"/>
                <small *ngIf="isControlInvalid('locationName')" class="text-red-700">
                    {{ getErrorMessage('locationName') }}
                </small>
        </div>

        <!--Coordinates-->
        <div class="field">
            <label for="coordinates">Coordinates</label>

            <p-inputGroup>
                <input id="coordinates" formControlName="coordinates" pInputText placeholder="Select on the Map..."
                class="text-base text-color surface-overlay p-2 border-1 border-solid 
                appearance-none outline-none focus:border-primary w-full" readonly="true"/>
                <button type="button" pButton icon="pi pi-map-marker" class="p-button-primary p-2" (click)="hideForm()"></button>
            </p-inputGroup>

            <small *ngIf="isControlInvalid('coordinates')" class="text-red-700">
                {{ getErrorMessage('coordinates') }}
            </small>
        </div>

        <p-button styleClass="w-full mt-3" (onClick)="onSubmit()" [disabled]="formGroup.invalid" label="Add" />
    </form>
</div>